@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@keyframes slide-in {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes slide-out {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes wiggle {
  0% {
    transform: skewX(9deg); }
  10% {
    transform: skewX(-8deg); }
  20% {
    transform: skewX(7deg);
    color: #c40000; }
  30% {
    transform: skewX(-6deg); }
  40% {
    transform: skewX(5deg); }
  50% {
    transform: skewX(-4deg); }
  60% {
    transform: skewX(3deg); }
  70% {
    transform: skewX(-2deg); }
  80% {
    transform: skewX(1deg); }
  90% {
    transform: skewX(0deg); }
  100% {
    transform: skewX(0deg); } }

#light_theme {
  background-image: url("./media/light.jpg");
  transition: 0.1s ease-out; }

.light_theme * {
  font-family: Raleway , serif;
  color: #222222;
  user-select: none;
  cursor: default;
  text-align: center;
  box-sizing: border-box; }

.light_theme .App-header {
  background-color: transparent;
  font-size: 3rem;
  letter-spacing: 10px;
  text-align: center; }

.light_theme .App-header p {
  margin: 0 auto;
  display: block; }

.light_theme #github_icon {
  opacity: 0.7;
  float: left;
  cursor: pointer;
  transition: 0.25s ease-out; }

.light_theme .author {
  z-index: 1001;
  margin-top: 1%;
  font-size: 1rem;
  float: left;
  margin-left: 1%;
  display: block;
  position: absolute; }

.light_theme .author span {
  cursor: pointer;
  float: left;
  padding-top: 5%;
  padding-left: 5%;
  transition: 0.25s ease-out; }

.light_theme a {
  color: inherit;
  transition: 0.25s ease-out; }

.light_theme .author:hover #author_span {
  color: cyan; }

.light_theme .author:hover #github_icon {
  opacity: 1; }

.light_theme a:active {
  outline: none; }

.light_theme .menu_button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  margin: 2%;
  transition: 0.33s ease-out;
  padding: 1%;
  font-size: 2rem;
  border-radius: 5px; }

.light_theme .menu_button:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #00c8c8; }

.light_theme .main_menu {
  animation: fade-in 1s forwards; }

.light_theme .settings_page {
  animation: fade-in 1s forwards; }

.light_theme .left_col_settings {
  width: 15%;
  display: inline-block;
  float: left; }

.light_theme .mid_col_settings {
  width: 65%;
  margin: 0 auto;
  display: inline-block; }

.light_theme .setting_value button {
  background-color: transparent;
  border: none;
  margin-bottom: 1%;
  transition: 0.33s ease-out;
  padding: 3%;
  font-size: 1.2rem; }

.light_theme .setting_value button.selected {
  color: #00c8c8; }

.light_theme .setting_value button.set_pace {
  font-size: 1.7rem; }

.light_theme .set_pace:hover {
  color: #00d7d7; }

.light_theme .shown {
  animation: slide-in 0.5s forwards; }

.light_theme .hidden {
  animation: slide-out 0.2s forwards;
  visibility: hidden; }

.light_theme .hr_settings {
  display: none; }

.light_theme table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600; }

.light_theme td {
  font-weight: bold;
  font-size: 1.5rem; }

.light_theme .exit_settings {
  float: right; }

.light_theme .game_page {
  animation: fade-in 1s forwards; }

.light_theme .left_col_game {
  width: 33%;
  float: left; }

.light_theme .mid_col_game {
  width: 33%;
  margin: 0 auto;
  float: left; }

.light_theme .right_col_game {
  width: 33%;
  float: left; }

.light_theme .board_9 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 9rem);
  grid-template-rows: repeat(3, 9rem); }

.light_theme .board_16 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: repeat(4, 7rem); }

.light_theme .cell {
  color: transparent;
  background: transparent;
  border: 1px solid #aaaaaa;
  transition: color 0s, border 0.25s, box-shadow 0.5s, background-color 0.5s;
  border-radius: 5px;
  font-size: 4rem; }

.light_theme .cell_filled {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  animation: fade-in 1s forwards;
  background: transparent;
  border: 1px solid #222222;
  font-size: 4rem; }

.light_theme .cell_filled:active {
  animation: wiggle 0.33s forwards; }

.light_theme .cell:hover {
  border-color: cyan;
  color: rgba(0, 119, 119, 0.2); }

.light_theme .cell:active {
  box-shadow: 5px 5px 2px 2px #888888 inset; }

.light_theme .cell_filled.win {
  background-color: #00ffff;
  border: 1px solid #222222;
  box-shadow: 2px 2px 5px 5px #888888; }

.light_theme button {
  cursor: pointer; }

.light_theme button:focus {
  outline: none; }

.light_theme .exit_game, .light_theme .exit_settings {
  background-color: transparent;
  margin: 1%;
  padding: 2%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out; }

.light_theme .exit_game:hover, .light_theme .exit_settings:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #009292; }

.light_theme #status {
  transform: scale(1);
  transition: 0.2s ease-in; }

.light_theme #status.turnChange {
  transform: scale(1.3); }

.light_theme .game_status {
  width: 75%;
  margin: 0 auto;
  font-size: 2rem; }

.light_theme .react-progress-bar {
  box-shadow: 2px 2px 2px rgba(0, 200, 200, 0.56);
  position: absolute;
  width: 20%;
  top: 22%;
  right: 40%;
  left: 40%; }

.light_theme .react-progress-bar-percent {
  background: cyan;
  box-shadow: 0 0 10px #009292, 0 0 5px #009292; }

.light_theme .timer_shown {
  width: 25%;
  margin: 0 auto; }

.light_theme .timer_hidden {
  display: none; }

.light_theme ul {
  list-style: none; }

.light_theme li {
  width: 50%;
  margin: 0 auto; }

.light_theme .show_history_closed, .light_theme .show_history_active {
  background-color: transparent;
  margin: 1%;
  padding: 3%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out; }

.light_theme .show_history_closed:hover, .light_theme .show_history_active:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #00c8c8; }

.light_theme .list {
  max-height: 500px;
  overflow-y: scroll; }

.light_theme .list_hidden {
  max-height: 500px;
  overflow-y: hidden; }

.light_theme .list button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 5%;
  transition: 0.33s ease-out;
  padding: 5%; }

.light_theme .list button:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset; }

.light_theme .current_step {
  color: #00c8c8; }

.light_theme .list_hidden button {
  animation: slide-out 0.5s forwards;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 5%;
  padding: 5%; }

#dark_theme {
  background-image: url("./media/dark.jpg");
  transition: 0.1s ease-out; }

.dark_theme * {
  color: #cbcbcb;
  font-family: Raleway, serif;
  user-select: none;
  cursor: default;
  text-align: center;
  box-sizing: border-box; }

.dark_theme .App-header {
  background-color: transparent;
  font-size: 3rem;
  letter-spacing: 10px;
  text-align: center; }

.dark_theme .App-header p {
  margin: 0 auto;
  display: block; }

.dark_theme #github_icon {
  opacity: 0.7;
  float: left;
  cursor: pointer;
  transition: 0.25s ease-out; }

.dark_theme .author {
  z-index: 1001;
  margin-top: 1%;
  font-size: 1rem;
  float: left;
  margin-left: 1%;
  display: block;
  position: absolute; }

.dark_theme .author span {
  cursor: pointer;
  float: left;
  padding-top: 5%;
  padding-left: 5%;
  transition: 0.25s ease-out; }

.dark_theme a {
  color: inherit;
  transition: 0.25s ease-out; }

.dark_theme .author:hover #author_span {
  color: #3eff00; }

.dark_theme .author:hover #github_icon {
  opacity: 1; }

.dark_theme a:active {
  outline: none; }

.dark_theme hr {
  display: none; }

.dark_theme .menu_button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  margin: 2%;
  transition: 0.33s ease-out;
  padding: 1%;
  font-size: 2rem;
  border-radius: 5px; }

.dark_theme .menu_button:hover {
  color: #3eff00; }

.dark_theme .main_menu {
  animation: fade-in 1s forwards;
  padding-top: 1%; }

.dark_theme .settings_page {
  animation: fade-in 1s forwards;
  padding-top: 1%; }

.dark_theme .left_col_settings {
  width: 15%;
  display: inline-block;
  float: left; }

.dark_theme .mid_col_settings {
  width: 65%;
  margin: 0 auto;
  display: inline-block; }

.dark_theme .setting_value button {
  background-color: transparent;
  border: none;
  margin-bottom: 1%;
  transition: 0.33s ease-out;
  padding: 3%;
  font-size: 1.2rem; }

.dark_theme .setting_value button.selected {
  color: #3eff00; }

.dark_theme .setting_value button.set_pace {
  font-size: 1.7rem; }

.dark_theme .set_pace:hover {
  color: #3eff00; }

.dark_theme .shown {
  animation: slide-in 0.5s forwards; }

.dark_theme .hidden {
  animation: slide-out 0.2s forwards;
  visibility: hidden; }

.dark_theme .hr_settings {
  display: none; }

.dark_theme table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600; }

.dark_theme td {
  font-weight: bold;
  font-size: 1.5rem; }

.dark_theme .exit_settings {
  float: right; }

.dark_theme .game_page {
  animation: fade-in 1s forwards;
  padding-top: 1%; }

.dark_theme .left_col_game {
  width: 33%;
  float: left; }

.dark_theme .mid_col_game {
  width: 33%;
  margin: 0 auto;
  float: left; }

.dark_theme .right_col_game {
  width: 33%;
  float: left; }

.dark_theme .board_9 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 9rem);
  grid-template-rows: repeat(3, 9rem); }

.dark_theme .board_16 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: repeat(4, 7rem); }

.dark_theme .cell {
  color: transparent;
  background: transparent;
  border: 1px solid #777777;
  transition: color 0s, border 0.25s, box-shadow 0.5s, background-color 0.5s;
  border-radius: 5px;
  font-size: 4rem; }

.dark_theme .cell_filled {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #3eff00;
  animation: fade-in 1s forwards;
  background: transparent;
  border: 1px solid #222222;
  font-size: 4rem;
  color: #3eff00; }

.dark_theme .cell_filled:active {
  animation: wiggle 0.33s forwards; }

.dark_theme .cell:hover {
  border-color: #3eff00;
  color: rgba(42, 175, 0, 0.2); }

.dark_theme .cell:active {
  box-shadow: 5px 5px 2px 2px #1d7300 inset; }

.dark_theme .cell_filled.win {
  background-color: #3eff00;
  border: 1px solid #222222;
  color: #393939; }

.dark_theme button {
  cursor: pointer; }

.dark_theme button:focus {
  outline: none; }

.dark_theme .exit_game, .dark_theme .exit_settings {
  background-color: transparent;
  margin: 1%;
  padding: 2%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out; }

.dark_theme .exit_game:hover, .dark_theme .exit_settings:hover {
  color: #3eff00; }

.dark_theme #status {
  transform: scale(1);
  transition: 0.2s ease-in; }

.dark_theme #status.turnChange {
  transform: scale(1.3); }

.dark_theme .game_status {
  width: 75%;
  margin: 0 auto;
  font-size: 2rem; }

.dark_theme .react-progress-bar {
  box-shadow: 2px 2px 2px rgba(62, 255, 0, 0.56);
  position: absolute;
  width: 20%;
  top: 20%;
  right: 40%;
  left: 40%; }

.dark_theme .react-progress-bar-percent {
  background: #3eff00;
  box-shadow: 0 0 10px #1d7300, 0 0 5px #1d7300; }

.dark_theme .timer_shown {
  width: 25%;
  margin: 0 auto; }

.dark_theme .timer_hidden {
  display: none; }

.dark_theme ul {
  list-style: none; }

.dark_theme li {
  width: 50%;
  margin: 0 auto; }

.dark_theme .show_history_closed, .dark_theme .show_history_active {
  background-color: transparent;
  margin: 1%;
  padding: 3%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out; }

.dark_theme .show_history_closed:hover, .dark_theme .show_history_active:hover {
  color: #3eff00; }

.dark_theme .list {
  max-height: 500px;
  overflow-y: scroll; }

.dark_theme .list_hidden {
  max-height: 500px;
  overflow-y: hidden; }

.dark_theme .list button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 5%;
  transition: 0.33s ease-out;
  padding: 5%; }

.dark_theme .list button:hover {
  color: #2aaf00; }

.dark_theme .current_step {
  color: #2aaf00; }

.dark_theme .list_hidden button {
  animation: slide-out 0.5s forwards;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 5%;
  padding: 5%; }

/* Responsive Design Configuration */
@media only screen and (max-width: 750px) {
  .light_theme {
    margin: 0; }
    .light_theme .hr_settings {
      display: block; }
    .light_theme .left_col_game, .light_theme .mid_col_game, .light_theme .right_col_game {
      width: 100%;
      margin: 1% 0 1% 0; }
    .light_theme .react-progress-bar {
      top: 40%;
      width: 100%;
      margin: 0 auto;
      right: 0;
      left: 0; }
    .light_theme .list {
      z-index: 1001;
      position: fixed;
      top: 25%;
      height: 45%;
      overflow-y: scroll;
      width: 100%;
      background-color: rgba(210, 210, 210, 0.95);
      border-radius: 10px;
      transition: 0.5s ease-out; }
    .light_theme .list ul {
      color: white; }
    .light_theme .list button {
      margin: 0 auto; }
    .light_theme .list button:hover {
      box-shadow: none; }
    .light_theme .show_history_closed:hover {
      box-shadow: none;
      color: inherit; }
    .light_theme .show_history_active {
      z-index: 1002;
      box-shadow: 1px 1px 1px 1px #888888 inset;
      color: #00c8c8; }
    .light_theme .exit_game:hover {
      box-shadow: none;
      color: inherit; }
    .light_theme td {
      font-size: 1.2rem; }
    .light_theme .set_pace {
      margin: 5%; }
    .light_theme .set_pace:hover {
      color: inherit; }
    .light_theme .board_9 {
      grid-template-columns: repeat(3, 6rem);
      grid-template-rows: repeat(3, 6rem); }
    .light_theme .board_16 {
      grid-template-columns: repeat(4, 4rem);
      grid-template-rows: repeat(4, 4rem); }
    .light_theme .cell, .light_theme .cell_filled {
      padding: 0;
      font-size: 2rem; }
    .light_theme .cell_filled:active {
      animation: none; }
    .light_theme .cell:hover {
      border-color: inherit;
      color: transparent; }
    .light_theme .cell:active {
      box-shadow: none; }
    .light_theme .cell_filled.win {
      background-color: #00ffff;
      border: 1px solid #222222;
      box-shadow: 2px 2px 5px 5px #888888; }
  .dark_theme {
    margin: 0; }
    .dark_theme .hr_settings {
      display: block; }
    .dark_theme .left_col_game, .dark_theme .mid_col_game, .dark_theme .right_col_game {
      width: 100%;
      margin: 1% 0 1% 0; }
    .dark_theme .react-progress-bar {
      top: 30%;
      width: 100%;
      margin: 0 auto;
      right: 0;
      left: 0; }
    .dark_theme .list {
      z-index: 1001;
      position: fixed;
      top: 25%;
      height: 45%;
      overflow-y: scroll;
      width: 100%;
      background-color: rgba(119, 119, 119, 0.9);
      border-radius: 10px;
      transition: 0.5s ease-out; }
    .dark_theme .list button {
      margin: 0 auto;
      color: #6fff4b; }
    .dark_theme .list button:hover {
      box-shadow: none; }
    .dark_theme .show_history_closed:hover {
      box-shadow: none;
      color: inherit; }
    .dark_theme .show_history_active {
      z-index: 1002;
      box-shadow: 1px 1px 1px 1px #1d7300 inset;
      color: #3eff00; }
    .dark_theme .exit_game:hover {
      box-shadow: none;
      color: inherit; }
    .dark_theme td {
      font-size: 1.2rem; }
    .dark_theme .set_pace {
      margin: 5%; }
    .dark_theme .set_pace:hover {
      color: inherit; }
    .dark_theme .board_9 {
      grid-template-columns: repeat(3, 6rem);
      grid-template-rows: repeat(3, 6rem); }
    .dark_theme .board_16 {
      grid-template-columns: repeat(4, 4rem);
      grid-template-rows: repeat(4, 4rem); }
    .dark_theme .cell, .dark_theme .cell_filled {
      padding: 0;
      font-size: 2rem; }
    .dark_theme .cell_filled:active {
      animation: none; }
    .dark_theme .cell:hover {
      border-color: inherit;
      color: transparent; }
    .dark_theme .cell:active {
      box-shadow: none; }
    .dark_theme .cell_filled.win {
      border: 1px solid #222222;
      box-shadow: 2px 2px 5px 5px #888888; } }
