@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@keyframes slide-in {
  0% {
    transform: translateY(+20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(+20%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wiggle {
  0% { transform: skewX(9deg); }
  10% { transform: skewX(-8deg); }
  20% { transform: skewX(7deg); color: #c40000; }
  30% { transform: skewX(-6deg); }
  40% { transform: skewX(5deg); }
  50% { transform: skewX(-4deg); }
  60% { transform: skewX(3deg); }
  70% { transform: skewX(-2deg); }
  80% { transform: skewX(1deg); }
  90% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

* {
  font-family: Raleway , serif;
  color: #222222;
  user-select: none;
}

body {
  cursor: default;
  text-align: center;
  box-sizing: border-box;
  background-image: url("./media/pozadi.jpg");
}

.App-header {
  background-color: transparent;
  font-size: 3rem;
  letter-spacing: 10px;
  text-align: center;
}
.App-header p{
  margin: 0 auto;
  display: block;
}
.author {
  z-index: 1001;
  position: absolute;
  padding: 1%;
  font-size: 1rem;
  float: left;
  margin-left: 3%;
  display: block;
  transition: 0.25s ease-out;
}
a {
  color: inherit;
  transition: 0.25s ease-out;
}
.author:hover {
  color: cyan;
}
a:active {
  outline: none;
}
.menu_button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  margin: 2%;
  transition: 0.33s ease-out;
  padding: 1%;
  font-size: 2rem;
  border-radius: 5px;
}
.menu_button:hover{
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #00c8c8;
}

.settings_page{
  animation: fade-in 1s forwards;
  padding-top: 1%;
}
.left_col_settings {
  width: 25%;
  display: inline-block;
  float: left;
}
.mid_col_settings {
  width: 75%;
  margin: 0 auto;
  display: inline-block;
}
.value button {
  background-color: transparent;
  border: none;
  margin-bottom: 1%;
  transition: 0.33s ease-out;
  padding: 3%;
  font-size: 1.2rem;
}
.value button.selected {
  color: #00c8c8;
}
.value_hidden button{
  background-color: transparent;
  border: none;
  margin-bottom: 1%;
  transition: 0.33s ease-out;
  padding: 3%;
  font-size: 1.2rem;
}
.value button.set_pace{
  font-size: 1.7rem;
}
.set_pace:hover {
  color: #00d7d7;
}
.shown {
  animation: slide-in 0.5s forwards;
}
.hidden {
  animation: slide-out 0.5s forwards;
}
.hr_settings{
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600;
}
td {
 font-weight: bold;
}

.game_page{
  animation: fade-in 1s forwards;
  padding-top: 1%;
}

.left_col_game {
  width: 33%;
  float: left;
}
.mid_col_game {
  width: 33%;
  margin: 0 auto;
  float: left;
}
.right_col_game {
  width: 33%;
  float: left;
}

.board_9 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 7rem);
  grid-template-rows: repeat(3, 7rem);
}

.board_16 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(4, 5rem);
}
.cell {
  color: transparent;
  background: transparent;
  border: 1px solid #aaaaaa;
  transition:
          color 0s,
          border 0.25s,
          box-shadow 0.5s,
          background-color 0.5s;
  border-radius: 5px;
  font-size: 3.5rem;
}
.cell_filled {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  animation: fade-in 1s forwards;
  background: transparent;
  border: 1px solid #222222;
  font-size: 3.5rem;
}
.cell_filled:active {
  animation: wiggle 0.33s forwards;
}
.cell:hover {
  border-color: cyan;
  color: rgba(0, 119, 119, 0.2);
}
.cell:active {
  box-shadow: 5px 5px 2px 2px #888888 inset;
}
.cell_filled.win {
  background-color: #00ffff;
  border: 1px solid #222222;
  box-shadow: 2px 2px 5px 5px #888888;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
.exit_game {
  background-color: transparent;
  margin: 1%;
  padding: 2%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out;
}
.exit_game:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #009292;
}

.game_status {
  animation: fade-in 0.5s forwards;
  width: 75%;
  margin: 0 auto;
  font-size: 2rem;
}
.react-progress-bar {
  box-shadow: 2px 2px 2px rgba(0, 200, 200, 0.56);
  position: absolute;
  width: 20%;
  top: 20%;
  right: 40%;
  left: 40%;
}
.react-progress-bar-percent {
  background: cyan;
  box-shadow: 0 0 10px #009292, 0 0 5px #009292;
}
.timer_shown {
  width: 25%;
  margin: 0 auto;
}
.timer_hidden {
  display: none;
}
ul{
  list-style: none;
}
li{
  width: 50%;
  margin: 0 auto;
}
.show_history_closed, .show_history_active{
  background-color: transparent;
  margin: 1%;
  padding: 3%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: 0.33s ease-out;
}
.show_history_closed:hover, .show_history_active:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
  color: #00c8c8;
}

.list button {
  animation: slide-in 0.75s forwards;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-bottom: 5%;
  transition: 0.33s ease-out;
  padding: 5%;
}
.list button:hover {
  box-shadow: 1px 1px 1px 1px #888888 inset;
}
.current_step {
  color: #00c8c8;
}
.list_hidden button{
  animation: slide-out 0.5s forwards;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 5%;
  padding: 5%;
}


/* Responsive Design Configuration */
@media only screen and (max-width: 750px) {
  *{
    margin: 0;
  }
  .hr_settings {
    display: block;
  }
  .left_col_game, .mid_col_game, .right_col_game {
    width: 100%;
    margin: 1% 0 1% 0;
  }
  .react-progress-bar {
    top: 25%;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .list {
    z-index: 1001;
    position: fixed;
    top: 30%;
    width: 100%;
    background-color: rgba(210, 210, 210, 0.95);
    border-radius: 10px;
    transition: 0.5s ease-out;
  }
  .list ul{
    color: white;
  }
  .show_history_closed:hover{
    box-shadow: none;
    color: inherit;
  }
  .show_history_active{
    box-shadow: 1px 1px 1px 1px #888888 inset;
    color: #00c8c8;
  }
  .exit_game:hover{
    box-shadow: none;
    color: inherit;
  }
  .set_pace {
    margin: 5%;
  }
  .set_pace:hover{
    color:inherit;
  }
  .cell_filled:active {
    animation: none;
  }
  .cell:hover {
    border-color: inherit;
    color: transparent;
  }
  .cell:active {
    box-shadow: none;
  }
  .cell_filled.win {
    background-color: #00ffff;
    border: 1px solid #222222;
    box-shadow: 2px 2px 5px 5px #888888;
  }
}